body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  width: 300px;
  margin-bottom: 10px;
}

.column {
  display: flex;
  align-items: center;
}

input[type="text"],
select,
label {
  width: 100%;
}
